body {
  background-color: rgb(38, 38, 46);
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 62.5%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.85rem;
}

p {
  font-size: 1.25rem;
}

.content-wrapper {
  background-color: grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.introduce-section {
  background-color: rebeccapurple;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.introduce-section article {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introduce-section .hero-title {
  background-color: red;
  width: fit-content;
  text-align: center;
}

.introduce-section .hero-name {
  text-align: center;
  font-size: 2rem;
}

.introduce-section .hero-about {
  max-width: 1024px;
  width: 80%;
}

.project-skills {
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.project-skills .projects-section {
  background-color: burlywood;
  display: flex;
  flex-grow: 2;
  flex-direction: column;
}

.project-skills .projects-section main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-skills .skills-section {
  background-color: beige;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.project-skills .skills-section main {
  display: flex;
  flex-direction: row;
}

.contact-section {
  background-color: darkgreen;
  width: 100%;
}