@import url("./transitions.css");

:root {
  --startScale: 1.2012;
  --scale1: 0.858;
  --scale2: 0.715;
  --scale3: 0.65;
}

.background_frame {
  background-color: rgb(37, 37, 37);
  height: 100%;
  width: 100%;
}

.bg_layer-3 {
  height: 100%;
  position: relative;
  scale: var(--startScale );
  translate: 0 0;
  width: 100%;
  z-index: 3;
  /* visibility: hidden; */
}

.bg_layer-2 {
  filter: blur(1px);
  height: 100%;
  position: relative;
  scale: var(--scale1);
  translate: 0 -110%;
  width: 100%;
  z-index: 2;
  /* visibility: hidden; */
}

.bg_layer-1 {
  filter: blur(1px);
  height: 100%;
  position: relative;
  scale: var(--scale2);
  translate: 0 -215%;
  width: 100%;
  z-index: 1;
  /* visibility: hidden; */
}

.bg_layer-0 {
  filter: blur(1px);
  height: 100%;
  position: relative;
  scale: var(--scale3);
  translate: 0 -320%;
  width: 100%;
  z-index: 0;
  /* visibility: hidden; */
}
