@import url("./transitions.css");

.background_frame {
  background-color: rgb(37, 37, 37);
  height: 100%;
  width: 100%;
}

.bg_layer-3 {
  height: 100%;
  position: relative;
  scale: 1 1;
  translate: 0 0;
  width: 100%;
  z-index: 3;
  /* visibility: hidden;  */
}

.bg_layer-2 {
  filter: blur(1px);
  height: 100%;
  position: relative;
  scale: 0.8 0.8;
  translate: 0 -100%;
  width: 100%;
  z-index: 2;
  /* visibility: hidden; */
}

.bg_layer-1 {
  filter: blur(1px);
  height: 100%;
  position: relative;
  scale: 0.64 0.64;
  translate: 0 -200%;
  width: 100%;
  z-index: 1;
  /* visibility: hidden; */
}

.bg_layer-0 {
  filter: blur(1px);
  height: 100%;
  position: relative;
  scale: 0.512 0.512;
  translate: 0 -300%;
  width: 100%;
  z-index: 0;
  /* visibility: hidden; */
}
