/* .bg_layer-3 */
@keyframes layer3ToLayerOff {
  100% {
  }
}

/* .bg_layer-2 */
@keyframes layer2ToLayer3 {
  100% {
  }
}

/* .bg_layer-1 */
@keyframes layer1ToLayer2 {
  100% {
  }
}

/* .bg_layer-0 */
@keyframes layer0ToLayer1 {
  100% {
  }
}

.transition_a3-off {
  animation: layer3ToLayerOff 2s forwards;
}

.transition_a2-3 {
  animation: layer2ToLayer3 2s ease-in forwards;
}

.transition_a1-2 {
  animation: layer1ToLayer2 2s forwards;
}

.transition_a0-1 {
  animation: layer0ToLayer1 2s forwards;
}
