/* Transition 1 */

@keyframes layer3ToHidea {
  100% {
    filter: blur(10px);
    opacity: 0;
    transform: scale(22);
  }
}

.transition_1-0 {
  animation: layer3ToHidea 3s ease-in forwards;
}

@keyframes layer2ToLayer3b {
  100% {
    transform: scale(1, 1) translate(-5%, 0);
    filter: blur(0);
  }
}

.transition_2-1 {
  animation: layer2ToLayer3b 3s ease-in forwards;
}


@keyframes layer1ToLayer2c {
  100% {
    transform: scale(1, 1) translate(-5%, 15%);
  }
}

.transition_3-2 {
  animation: layer1ToLayer2c 3s forwards;
}

@keyframes layer0ToLayer1d {
  100% {
    transform: scale(1, 1) translate(-5%, 0);
  }
}

.transition_4-3 {
  animation: layer0ToLayer1d 3s forwards;
}
