@import url("./burguer-menu.css");

main.traditional {
  background-color: darksalmon;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

section.box {
  background-color: aquamarine;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  text-align: center;
  width: 100%;
  word-wrap: normal;
  word-break:break-word;
  padding: 10dvh 0 10dvh 0;
}

.main-title {
  color: var(--main-color-0);
  font-family: "Iceland", "Roboto";
  font-size: 3rem;
  width: fit-content;
}

.catchphrase {
  font-family: "Poppins", "sans-serif" ;
  font-size: 1.125rem;
  letter-spacing: -0.09rem;
}

.hero-photo {
  background-clip: border-box;
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
  padding: 0;
  overflow: hidden;
}

.hero-photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.respite-illustrated object {
  width: 100%;
}