@import url("./mode-experience/style.css");
@import url("./modifiers.css");

body {
  background-color: rgb(37, 37, 37);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
