@import url("https://fonts.googleapis.com/css2?family=Iceland&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Iceland&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Iceland&family=Poppins&family=Roboto&display=swap");

@import url("./traditional/style.css");
@import url("./modifiers.css");

:root {
  --main-color-0: #710DF2;
  --main-color-0-translucid: #710DF299;
  --main-color-1: #141C3A;
  --main-color-1-translucid: #141C3A99;
  --main-color-2: #5C1BAF;
  --main-color-2-translucid: #5C1BAF99;
  --main-background-0: #f9f7f4;
}

body {
  background-color: grey;
  display: flex;
}

section {
  height: 100dvh;
}

header {
  height: 60px;
}

strong {
  font-weight: bolder;
}

em {
  font-weight: lighter;
  font-style: italic;
}

@media (max-width: 319px) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 320px) {
  html {
    font-size: 62.5%;
  }
}

@media (min-width: 720px) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 100%;
  }

  @media (min-width: 1280px) {
    html {
      font-size: 125%;
    }
  }

  @media (min-width: 1600px) {
    html {
      font-size: 150%;
    }
  }


  @media (min-width: 1920px) {
    html {
      font-size: 175%;
    }
  }

  @media (min-width: 2880px) {
    html {
      font-size: 200%;
    }
  }
}
