.c-holocard {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-image:
  radial-gradient(
    75% 95%,
    rgba(255, 255, 255, 0.05) 60%,
    rgb(255, 255, 255, 0.5) 100%
    );
  border: 1px outset rgba(200, 200, 200, 0.5);
  border-radius: 1vw;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  height: calc(16 * 2vw);
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  max-height: 720px;
  max-width: 405px;
  min-height: 144px;
  min-width: 81px;
  transition: width 2s, height 2s, transform 0.35s ease-out;
  width: calc(9 * 2vw);
}

.c-holocard__circuits {
  background-color: var(--disableBlue);
  mask: url("../images/card/circuits_0.svg") no-repeat left;
  -webkit-mask: url("../images/card/circuits_0.svg") no-repeat left;
  margin-top: 4%;
  margin-left: 2%;
  height: 96%;
  width: 96%;
  position: absolute;
}

.c-holocard:hover.m-can__hover {
  transform: translateY(-4vh);
}

.c-holocard:hover.m-can__hover .c-holocard__circuits {
  background-color: var(--connectBlue);
}

.m-clicked__card {
  border-style: outset outset outset outset;
  border-color: #fff5 #bbb3 #bbb3 #fff5;
  border-width: 2px 8px 5px 2px;
  transition-duration: 2.5s;
  transition-timing-function: ease-in-out;
  position: absolute;
  animation: dropDownCard 2s forwards;
  z-index: 1;
}

@keyframes dropDownCard {
  to {
    transform:
    rotateX(70deg)
    rotateZ(70deg)
    translateZ(-42vh);
  }
}

.c-holocard.m-clicked__card .c-holocard__circuits {
  background-image: repeating-conic-gradient(
    from -0deg,
    var(--connectBlue) 48%,
    var(--connectBlue) 49%,
    white 50%,
    var(--connectBlue) 51%,
    var(--connectBlue) 52%
  );
  animation: connectHover 0.2s infinite;
}

@keyframes connectHover {
  from {
    background-image: repeating-conic-gradient(
      from 0deg,
      var(--connectBlue) 48%,
      49%,
      white 50%,
      51%,
      var(--connectBlue) 53%
    );
  }
  20% {
    background-image: repeating-conic-gradient(
      from 3deg,
      var(--connectBlue) 48%,
      49%,
      white 50%,
      51%,
      var(--connectBlue) 53%
    );
  }
  40% {
    background-image: repeating-conic-gradient(
      from 6deg,
      var(--connectBlue) 48%,
      49%,
      white 50%,
      51%,
      var(--connectBlue) 53%
    );
  }
  60% {
    background-image: repeating-conic-gradient(
      from 9deg,
      var(--connectBlue) 48%,
      49%,
      white 50%,
      51%,
      var(--connectBlue) 53%
    );
  }
  80% {
    background-image: repeating-conic-gradient(
      from 12deg,
      var(--connectBlue) 48%,
      49%,
      white 50%,
      51%,
      var(--connectBlue) 53%
    );
  }
  to {
    background-image: repeating-conic-gradient(
      from 0deg,
      var(--connectBlue) 48%,
      49%,
      white 50%,
      51%,
      var(--connectBlue) 53%
    );
  }
}
