@font-face {
  font-family: "3DIso";
  src: url("./fonts/3DIsometric/3DIsoHalfBlack.ttf");
}

@font-face {
  font-family: abduction2002;
  src: url("./fonts/abduction_2002/abduction2002.ttf");
}

@font-face {
  font-family: azonix;
  src: url("./fonts/azonix/Azonix.otf");
}

@font-face {
  font-family: dsdigital;
  src: url("./fonts/ds_digital/DS-DIGI.TTF");
}

@font-face {
  font-family: F25_Bank_Printer;
  src: url("./fonts/f25_bank_printer/F25_Bank_Printer.ttf");
}

@font-face {
  font-family: hobo;
  src: url("./fonts/hobo/Hobo.ttf");
}

@font-face {
  font-family: jackinput;
  src: url("./fonts/jackinput/JAi_____.TTF");
}

@font-face {
  font-family: sono;
  src: url("./fonts/sono/web/Sono-ExtraBold.woff2");
}
