.c-holocover {
  align-items: center;
  backdrop-filter: blur(6px);
  background-color: var(--hologramBlue);
  background-image: repeating-linear-gradient(#fff1 0.25%, #0001 0.75%);
  mask-image: radial-gradient(50% 100%, #000, 70%, #0000 95%);
  -webkit-mask-image: radial-gradient(50% 100%, #000, 70%, #0000 95%);
  border-radius: 15vh;
  display: flex;
  height: 70vh;
  justify-content: center;
  max-width: 1920px;
  top: 5vh;
  position: absolute;
  scale: 0 0;
  visibility: hidden;
  width: 80vw;
  z-index: 4;
}

@keyframes holocoverLoop {
  from {
    background-image: repeating-linear-gradient(#fff1 0%, #0001 0.5%);
  }

  25% {
    background-image: repeating-linear-gradient(#fff1 0.25%, #0001 0.5%);
  }

  50% {
    background-image: repeating-linear-gradient(#fff1 0.5%, #0001 1%);
  }

  75% {
    background-image: repeating-linear-gradient(#fff1 0.75%, #0001 1%);
  }

  to {
    background-image: repeating-linear-gradient(#fff1 0.5%, #0001 1.5%);
  }
}

.c-holocover.m-active {
  visibility: visible;
  animation:
  holocoverAppear 2.50s cubic-bezier(1,0.2,1,0) forwards,
  holocoverLoop 0.65s infinite;
}

@keyframes holocoverAppear {
  from {
    scale: 0 0;
  }

  50% {
    scale: 0.01 1;
  }

  to {
    scale: 1 1;
  }
}

@media screen and (max-width: 420px) {
  .c-holocover {
    width: 90vw;
  }
}
