@import "./holocover.css";
@import "./hologram.css";
@import "./card.css";

:root {
  --cyberPink: #f0f;
  --connectBlue: rgb(0, 200, 255);
  --disableBlue: rgba(0, 75, 120, 0.5);
  --hologramBlue: rgb(0, 255, 255, 0.9);
  --hologramOther: rgb(255, 255, 255, 1);
  --hologramOtherDarker: rgba(150, 255, 255, 0.92);
  --punkBlue: #104;
}

body {
  overflow: hidden;
}

.landing-page {
  align-items: center;
  background-image: linear-gradient(var(--cyberPink) 10%, 20%, var(--punkBlue) 80%);
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
}

@media screen and (max-width: 420px) {
  .card-container {
    width: 95%;
  }
}
