@import "./fonts.css";
@import "./holocard.css";
@import "./holocard-special.css";
@import "./holocontent.css";
@import "./holocover.css";
@import "./hologram.css";
@import "./redirectToPortfolio.css";

:root {
  --cyberPink: #f0f;
  --connectBlue: rgb(0, 200, 255);
  --disableBlue: rgba(0, 75, 120, 0.5);
  --hologramBlue: rgb(0, 255, 255, 0.4);
  --hologramOther: rgb(225, 255, 255, 0.9);
  --hologramOtherDarker: rgba(100, 225, 225, 0.6);
  --punkBlue: #104;
}

body {
  overflow: hidden;
}

.c-principal__header {
  background-color: var(--cyberPink);
  display: flex;
  flex-direction: column;
}

.c-principal__header .c-attention  {
  background-color: orange;
  color: white;
  font-size: calc(0.75vh + 0.75vh);
  text-align: center;
  width: 100%;
  font-weight: bolder;
}

.c-principal__header h1 {
  font-size: calc(1.5vh + 1.5vh);
  font-weight: bold;
}

.c-principal__header h2 {
  font-size: calc(1.25vh + 1.25vh);
}

.c-principal__header a {
  color: white;
  background-color: red;
  font-size: calc(1.2vh + 1.2vh);
}

.c-principal__main {
  align-items: center;
  background-image: linear-gradient(var(--cyberPink) 10%, 20%, var(--punkBlue) 80%);
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
}

@media screen and (max-width: 420px) {
  .card-container {
    width: 95%;
  }
}
