@import url("./backgrounds/initial.css");
@import url("./backgrounds/transitions.css");
@import url("./actors/style.css");

:root {
  --experience_frame-H: calc(9 * 5vw);
  --experience_frame-W: calc(16 * 5vw);
}

.experience_frame {
  border: 1px inset yellow;
  height: var(--experience_frame-H);
  justify-content: center;
  overflow: hidden;
  width: var(--experience_frame-W);
}

.active_frame {
  height: 100%;
  position: relative;
  translate: 0 -200%;
  width: 100%;
  z-index: 10000;
}
